.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.spotifybutton {
  border-radius: 1000px;
  background-color: #1db954;
  padding: 1em 2em;
  //font-weight: bold;
  font-size: 1.5em;
  margin-top: 1em;
}

.warning {
  background-color: #fff;
  color: #000;
  width: 70%;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 2rem;
}
