.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0.5rem;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.skateableTracks {
  padding: 1em;
  max-width: 100%;

  overflow-y: scroll;

  .skateTrack {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;

    .trackDuration,
    .trackScore {
      width: 3em;
      text-align: center;
    }

    .trackScore {
      font-weight: bold;
    }

    .trackMain {
      flex: 1;
      margin: 0 1em;
      overflow: hidden;
    }
    .trackTitle,
    .trackArtists {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
    .trackArtists {
      font-size: 0.75em;
    }

    .playTrackButton {
      all: unset;
      cursor: pointer;
      border-radius: 1000px;
      background-color: #1db954;
      padding: 0.75em 1.25em;
      color: #fff;
    }
  }
}

.mainButton {
  all: unset;
  cursor: pointer;
  margin: 1em;
  border-radius: 1000px;
  background-color: #1db954;
  padding: 0.75em 1.25em;
  color: #fff;
}
